<%- include('../partials/header') %>
<h2>About Me</h2>
<p><img class ="pic" src="images/pfp.jpg" /></p>
  <p>Hello! My name is Rachel Purganan and I am currently working towards my certificate in Application Development and Testing at Seattle Central College through a program called Year Up.</p>
  <p>I will be starting a 6-month long internship at the end of March with Providence Health & Services as a Data Scientist intern! As of right now, my current work background consists of customer service experiences, so I am really hoping that this internship role whille allow me to apply both my soft skills that I’ve built up and my coding skills from this program, which will offers plenty of opportunities for me to grow.</p>
  <p>In the future, my goal is to become a data engineer. I may still have a long way to go, but I won't let that stop me from pursuing a career in the tech field. I am always open to collaborations and opportunities, so I would love to connect with you through LinkedIn!</p>
<%- include('../partials/footer') %>