<%- include('../partials/header') %>
<h2>My Favorite Drinks</h2>
  <p><img class ="pic" src="images/drinks.jpg" /></p>
  <p>Hello! Here are a list of my favorite drinks that I love to go drink (non-alcoholic):</p>
  <ul>
    <li><p>Honey Green Milk Tea (Sharetea)</p></li>
    <li><p>Shaken Iced Green Tea with Strawberries (Starbucks)</p></li>
    <li><p>Coffeeholic Dream with Ube Drizzle (Coffeeholic House)</p></li>
    <li><p>Chai Tea Latte (anywhere)</p></li>
    <li><p>Blended Chai (BigFoot Java)</p></li>
    <li><p>Sweet Tea (anywhere)</p></li>
    <li><p>And of course, water!!!</p></li>
  </ul>
<%- include('../partials/footer') %>