<%- include('../partials/header') %>
<h2>My Home Page</h2>
  <p><img class ="pic" src="images/ejs-logo.jpg" /></p>
  <p>Welcome! This is a Node.js app, which uses Express and EJS (Embedded JavaScript Templating). This website has 5 different linked web pages, which are the following: Home, Restaurants, Drinks, About Me, and Users.</p>
  <p>The user is then able to navigate through these different pages by using the navigation bar, where they will find different text and images for each corresponding webpage. 
</p>
<%- include('../partials/footer') %>