<%- include('../partials/header') %>
<h2>My Favorite Restaurants</h2>
  <p><img class ="pic" src="images/restaurant.jpg" /></p>
  <p>Hello! Here are a list of my favorite restaurants that I love to go to (although there are a lot more):</p>
  <ul>
    <li><p>Korean BBQ</p></li>
    <li><p>Trapper's Sushi</p></li>
    <li><p>Boiling Crawfish</p></li>
    <li><p>Boiling Point</p></li>
    <li><p>Olive Garden</p></li>
    <li><p>Doughzone Dumpling House</p></li>
    <li><p>Din Tai Fung</p></li>
    <li><p>Tokyo-ya Ramen</p></li>
    <li><p>Bahama Breeze</p></li>
    <li><p>Cheesecake Factory</p></li>
    <li><p>Red Robin</p></li>
  </ul>
<%- include('../partials/footer') %>